@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #DCE6EF;
  --color-secondary: #F3F6FA;
  --color-accent: #3B6F8B;
  --color-light: #31363F;
  --color-text: #111827;
  --color-background: #f8f8f8;
  --color-muted: #6B7280;
  --color-contrast: #31363F;
  --color-dot: #D1D9E2;
}

@layer base {
  html.dark {
    --color-primary: #222831;
    --color-secondary: #31363F;
    --color-accent: #94B4C1;
    --color-light: #EAE0CF;
    --color-text: #EEEEEE;
    --color-background: #31363F;
    --color-muted: #9CA3AF;
    --color-contrast: #FFFFFF;
    --color-dot: #444444;
  }

  body {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    font-style: normal;
    color: var(--color-text);
    background-color: var(--color-background);
    transition: background-color 0.25s ease, color 0.25s ease;
  }
}

@layer components {
  .text-body {
    @apply text-base font-normal leading-relaxed tracking-wide;
  }

  .page-project {
    background-image: radial-gradient(var(--color-dot) 0.8px, transparent 0.8px), radial-gradient(var(--color-dot) 0.8px, var(--color-background) 0.8px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
  }

  .main-button {
    @apply flex items-center gap-2 w-fit bg-primary text-light p-4 rounded-lg mt-10 hover:bg-accent hover:text-white transition-colors;
  }

  .outlined-button {
    @apply flex items-center gap-2 border rounded-lg border-accent px-4 py-2 text-accent transition-colors hover:bg-accent hover:text-contrast;
  }

  .main-container {
    @apply container mx-auto px-5 lg:px-10;
  }

  .tag {
    @apply inline-block px-2 py-1 rounded-full bg-primary text-light text-sm whitespace-nowrap;
  }
}